-
  const logo_footer_data = {
    devMode: true,
    mediaQueries: {
      desktop: "(min-width: 1024px)",
      tablet: "(min-width: 768px)"
    },
    image: {
      desktop: {
        src: "./img/content/logo-footer.png",
        src2x: "./img/content/logo-footer@2x.png",
        srcWebp: "./img/content/logo-footer.webp",
        src2xWebp: "./img/content/logo-footer@2x.webp",
        width: "82",
        height: "57",
      },
      tablet: {
        src: "./img/content/logo-footer.png",
        src2x: "./img/content/logo-footer@2x.png",
        srcWebp: "./img/content/logo-footer.webp",
        src2xWebp: "./img/content/logo-footer@2x.webp",
        width: "82",
        height: "57",
      },
      mobile: {
        src: "./img/content/logo-footer-mobile.png",
        src2x: "./img/content/logo-footer-mobile@2x.png",
        srcWebp: "./img/content/logo-footer-mobile.webp",
        src2xWebp: "./img/content/logo-footer-mobile@2x.webp",
        width: "99",
        height: "31",
      },
      alt: "Логотип"
    }
  }
