-
  const image_data = {
    devMode: true,
    mediaQueries: {
      desktop: "(min-width: 1024px)",
      tablet: "(min-width: 768px)"
    },
    image: {
      desktop: {
        src: "./img/content/logo.png",
        src2x: "./img/content/logo@2x.png",
        srcWebp: "./img/content/logo.webp",
        src2xWebp: "./img/content/logo@2x.webp",
        width: "134",
        height: "48",
      },
      tablet: {
        src: "./img/content/logo.png",
        src2x: "./img/content/logo@2x.png",
        srcWebp: "./img/content/logo.webp",
        src2xWebp: "./img/content/logo@2x.webp",
        width: "134",
        height: "48",
      },
      mobile: {
        src: "./img/content/logo-mobile.png",
        src2x: "./img/content/logo-mobile@2x.png",
        srcWebp: "./img/content/logo-mobile.webp",
        src2xWebp: "./img/content/logo-mobile@2x.webp",
        width: "120",
        height: "42",
      },
      alt: "Логотип"
    }
  }
