// Colors
// ---------------------------------

// Default

$color-default-white: #ffffff;
$color-default-black: #484848;
$color-default-black-20: rgba(72, 72, 72, 0.2);
$color-default-black-50: rgba(72, 72, 72, 0.5);
$color-transparent: rgba(255, 255, 255, 0);
$color-gradient: linear-gradient(108deg, #ffc341 20.46%, #ffd701 65.31%);
$color-yellow: #ffc341;
$color-lightblue: #1fc0fc;
$color-black: #000000;


// Text

$color-text-base:                $color-default-black;
$color-text-white:               $color-default-white;

$color-text-white-70:            rgba(255, 255, 255, 0.7);
$color-text-accent:              #103aae;
$color-text-secondary:           #495a7d;

// Button

$color-button-bg-gradient: $color-gradient;

$color-button-border-light: #ffffff;
$color-button-border-dark: #102654;
$color-button-bg-light: #ffffff;
$color-button-bg-dark: #102654;


// Background

$color-bg-primary: #ffffff; // цвет заднего фона сайта

$color-bg-secondary: #f8f9fc;
$color-bg-gradient: linear-gradient(108deg, #ffc341 20.46%, #ffd701 65.31%);


// Icon

$color-icon-base: #ffffff;
$color-icon-hover: #102654;

// Form

$color-form-primary: #ffffff;
$color-form-error: #ff121f;
$color-input-border: #74819c;


// Shadow

$color-shadow-icon: rgba(0, 0, 0, 0.05);
$color-shadow-text: rgba(0, 0, 0, 0.12);
$color-shadow-bubble: rgba(0, 0, 0, 0.1);
$color-shadow-button-click: radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%), #ffffff;

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        15px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble:                         "Rouble", "Arial", sans-serif;

$ff-firasans:                    "FiraSans", "Arial", sans-serif;
$ff-montserrat:                "Montserrat", "Arial", sans-serif;
$ff-raleway:                "Raleway", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-768:                            768px;
$vp-1024:                           1024px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
