section.hero
  .container
    h1.hero__title Заголовок 1 уровня
    p.hero__price 100
      span.rouble i
    p
      a.btn(href="#" data-open-modal="feedback") modal--feedback link
    p
      a.btn(href="#" data-open-modal="success") modal--feedback link
