extends ../components/layout/layout.pug

block variables
  - let title = "Учеба в Израиле"
  - let page = "index"
  - let description = "Учёба, путешествие и карьера для еврейской молодёжи"
  - let keywords = "израиль, учеба в израиле"

block content
  main
    include ../components/blocks/hero/hero.pug
