-
  const hero_data = {
    devMode: true,
    mediaQueries: {
      desktop: "(min-width: 1024px)",
      tablet: "(min-width: 768px)"
    },
    text: {
      image: {
        desktop: {
          src: "./img/content/text-israel.png",
          src2x: "./img/content/text-israel.png@2x.png",
          srcWebp: "./img/content/text-israel.png.webp",
          src2xWebp: "./img/content/text-israel.png@2x.webp",
          width: "1018",
          height: "340",
        },
        tablet: {
          src: "./img/content/text-israel.png",
          src2x: "./img/content/text-israel.png@2x.png",
          srcWebp: "./img/content/text-israel.png.webp",
          src2xWebp: "./img/content/text-israel.png@2x.webp",
          width: "1018",
          height: "340",
        },
        mobile: {
          src: "./img/content/text-israel-mobile.png",
          src2x: "./img/content/text-israel-mobile@2x.png",
          srcWebp: "./img/content/text-israel-mobile.webp",
          src2xWebp: "./img/content/text-israel-mobile@2x.webp",
          width: "320",
          height: "122",
        },
        alt: "Израиль"
      }
    },
    girl: {
      image: {
        desktop: {
          src: "./img/content/photo_girl.png",
          src2x: "./img/content/photo_girl@2x.png",
          srcWebp: "./img/content/photo_girl.webp",
          src2xWebp: "./img/content/photo_girl@2x.webp",
          width: "1366",
          height: "906",
        },
        tablet: {
          src: "./img/content/photo_girl.png",
          src2x: "./img/content/photo_girl@2x.png",
          srcWebp: "./img/content/photo_girl.webp",
          src2xWebp: "./img/content/photo_girl@2x.webp",
          width: "1366",
          height: "906",
        },
        mobile: {
          src: "./img/content/photo_girl-mobile.png",
          src2x: "./img/content/photo_girl-mobile@2x.png",
          srcWebp: "./img/content/photo_girl-mobile.webp",
          src2xWebp: "./img/content/photo_girl-mobile@2x.webp",
          width: "320",
          height: "605",
        },
        alt: "Девочка с флагом Израиля"
      }
    }
  }
